<html web-theme="<%=require.web_theme %>">
    <head>
        <title>
            Project Manager
        </title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">

        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->

    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="header-title">
                    <a href="/">Pr<i class="fas fa-ghost"></i>ject Manager</a>
                </div>
                <div class="header-menu float-right">
                    <a href="https://github.com/CASPER-REPSAC/project-manager/issues" target="_blank"><button type="button" class="btn btn-info"><i class="fab fa-github fa-lg"></i> Bug Report</button></a>
                    <% if(!require.is_login){ %>
                        <a href="/login"><button type="button" class="btn btn-secondary"><i class="fab fa-google"></i> Login</button></a>
                    <% } else { %>
                        <% if(user_auth == "guest") { %><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-1">Auth</button> <% } %>
                        <a href="/write"><button type="button" class="btn btn-secondary">Write</button></a>
                        <a href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>

                        <% if(user_auth == "guest") { %>
                            <div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">인증하기</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                        권한 상승을 위해 토큰 값을 입력해 주세요.
                                        <input type="text" class="form-control" placeholder="Input token." name="auth-token">
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary btn-auth">submit</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="header-img">
                    <div class="content">
                        <h1>Pr<i class="fas fa-ghost"></i>ject Manager</h1>
                        <h5>For Casper</h5>
                    </div>
                    <div class="img-cover"></div>
                </div>
            </div>
        </div>
        <div id="menu">
            <div class="container">
                <div class="dark-mode float-right">
                    <button type="button" class="btn btn-success">All</button>
                    <button type="button" class="btn btn-secondary">Casper</button>
                    <button type="button" class="btn btn-secondary">Personal</button>
                    <label class="switch">
                        <input type="checkbox" <%= require.check ? "checked" : "" %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <Br><Br>
        <div id="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="project-box">
                            <h4><i class="fas fa-fire-alt"></i> Popular</h4>
                            <% for(let i=0; i<popular.length; i++){ %>
                                <div class="project-list">
                                    <div class="project-title"><a href="#" class="badge badge-pill badge-warning"><%= popular[i].type %></a> <a href="/post/<%= popular[i].post_idx %>"><%=popular[i].title %></a></div>
                                    <% for(let j=0; j<popular[i].tag.split(',').length; j++) { %>
                                        <a href="#" class="badge badge-pill badge-secondary"><%=popular[i].tag.split(',')[j] %></a>
                                    <% } %>
                                    <div class="project-info">
                                        <span class="project-writer"><%=popular[i].writer %></span>
                                        <span class="project-date"><%=popular[i].post_date %></span>
                                    </div>
                                </div>
                                <hr>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="project-box">
                            <h4><i class="fas fa-project-diagram"></i> Recent Project</h4>
                            <% for (let i=0; i<post.data.length; i++){ %>
                                <div class="project-list">
                                    <div class="project-title"><a href="#" class="badge badge-pill badge-warning"><%= post.data[i].type %></a> <a href="/post/<%= post.data[i].post_idx %>"><%=post.data[i].title %></a></div>
                                    <% for(let j=0; j<post.data[i].tag.split(',').length; j++) { %>
                                        <a href="#" class="badge badge-pill badge-secondary"><%=post.data[i].tag.split(',')[j] %></a>
                                    <% } %>
                                    <div class="project-info">
                                        <span class="project-writer"><%=post.data[i].writer %></span>
                                        <span class="project-date"><%=post.data[i].post_date %></span>
                                    </div>
                                </div>
                                <hr>
                            <% } %>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <% if(post.current_page != 1){ %>
                                    <li class="page-item">
                                        <a class="page-link" href="/?page=<%=post.current_page - 1 %>" tabindex="-1"><</i></a>
                                    </li>
                                <% } %>
                                <% for(let num = post.first_num; num <= post.end_num ; num++)  { %> 
                                    <li class="page-item <% if(num == post.current_page) { %> active <% } %>"><a class="page-link" href="/?page=<%=num %>"><%= num %></a></li>
                                <% } %>
                                <% if(post.end_num != post.result_page_num) { %>
                                    <li class="page-item">
                                        <a class="page-link" href="/?page=<%=post.current_page + 1 %>">></a>
                                    </li>
                                <% } %>
                            </ul>
                          </nav>
                    </div>
                    <div class="col-sm-4">
                        <div class="project-box">
                            <h4><i class="fas fa-comments"></i> recent comment</h4>
                            <% for(let i=0; i<recent_comment.length; i++){ %>
                                <div class="project-list">
                                    <span class="project-title"><i class="fas fa-comments"></i> <a href="/post/<%=recent_comment[i].post_idx %>"><%=recent_comment[i].comment_content %></a></span>
                                    <div class="project-info">
                                        <span class="project-writer"><%=recent_comment[i].writer %></span>
                                        <span class="project-date"><%=recent_comment[i].comment_date %></span>
                                    </div>
                                </div>
                                <hr>
                            <% } %>
                        </div>
                        <!-- <div class="project-box">
                            <h3>recent Q&A</h3>
                            <div class="project-list">
                                <span class="project-title"><a href="/post">동작 안함</a></span>
                                <div class="project-info">
                                    <span class="project-writer">김종민</span>
                                    <span class="project-date">2021.02.03</span>
                                </div>
                            </div>
                            <hr>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                This project is <a href="https://github.com/CASPER-REPSAC/project-manager">open source.</a>
            </div>
        </div>
        <script src="/js/darkmode.js"></script>
        <script src="/js/auth.js"></script>
    </body>
</html>