<html web-theme="<%=require.web_theme %>">
    <head>
        <title>
            Project Manager
        </title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">

        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->

    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="header-title">
                    <a href="/">Pr<i class="fas fa-ghost"></i>ject Manager</a>
                </div>
                <div class="header-menu float-right">
                    <% if(!require.is_login){ %>
                        <a href="/login"><button type="button" class="btn btn-secondary">Login</button></a>
                    <% } else { %>
                        <a href="/write"><button type="button" class="btn btn-secondary">Write</button></a>
                        <a href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
                    <% } %>
                </div>
                <div class="header-img">
                    <div class="content">
                        <h1>Pr<i class="fas fa-ghost"></i>ject Manager</h1>
                        <h5>For Casper</h5>
                    </div>
                    <div class="img-cover"></div>
                </div>
            </div>
        </div>
        <div id="menu">
            <div class="container">
                <div class="dark-mode float-right">
                    <button type="button" class="btn btn-success">All</button>
                    <button type="button" class="btn btn-secondary">Casper</button>
                    <button type="button" class="btn btn-secondary">Personal</button>
                    <label class="switch">
                        <input type="checkbox" <%= require.check ? "checked" : "" %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <Br><Br>
        <div id="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="project-box">
                            <h3>popular</h3>
                            <div class="project-list">
                                <span class="project-title"><a href="/post">동작 안함</a></span>
                                <div class="project-info">
                                    <span class="project-writer">김종민</span>
                                    <span class="project-date">2021.02.03</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="project-box">
                            <h3>recent comment</h3>
                            <div class="project-list">
                                <span class="project-title"><a href="/post">동작 안함</a></span>
                                <div class="project-info">
                                    <span class="project-writer">김종민</span>
                                    <span class="project-date">2021.02.03</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="project-box">
                            <h3>recent Q&A</h3>
                            <div class="project-list">
                                <span class="project-title"><a href="/post">동작 안함</a></span>
                                <div class="project-info">
                                    <span class="project-writer">김종민</span>
                                    <span class="project-date">2021.02.03</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="project-box">
                            <h3>Recent Project</h3>
                            <% for (let i=0; i<post_data.length; i++){ %>
                                <div class="project-list">
                                    <div class="project-title"><a href="#" class="badge badge-pill badge-warning"><%= post_data[i].type %></a> <a href="/post/<%= post_data[i].post_idx %>"><%=post_data[i].title %></a></div>
                                    <% for(let j=0; j<post_data[i].tag.split(',').length; j++) { %>
                                        <a href="#" class="badge badge-pill badge-secondary"><%=post_data[i].tag.split(',')[j] %></a>
                                    <% } %>
                                    <div class="project-info">
                                        <span class="project-writer"><%=post_data[i].writer %></span>
                                        <span class="project-date"><%=post_data[i].post_date %></span>
                                    </div>
                                </div>
                                <hr>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                This project is <a href="https://github.com/CASPER-REPSAC/project-manager">open source.</a>
            </div>
        </div>
        <script src="/js/darkmode.js"></script>
    </body>
</html>