<html web-theme="<%=require.web_theme %>">
    <head>
        <title>
            Project Manager
        </title>
        <%- include("./fragment/head.ejs") %>

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->
        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->

        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include("./fragment/header.ejs") %>

        <div id="contents">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 ">
                        <div class="row project-list">
                            <!-- project list -->
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 sidebar">
                        <div class="row sidebar-option">
                            <!-- <div class="col-md-12 d-flex justify-content-center">
                                <div class="input-group">
                                    <div class="form-outline">
                                      <input type="search" id="form1" class="form-control" placeholder="장식용"/>
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                      <i class="fas fa-search"></i>
                                    </button>
                                  </div>
                            </div> -->
                            <div class="col-md-6 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary recent-comments-btn">Recent Comments</button>
                            </div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <button type="button" class="btn btn-primary popular-projects-btn">Popular Projects</button>
                            </div>
                        </div>
                        <!-- recent comment list -->
                        <div class="sidebar-list">
                            <img class="recent-comment-list-image" src="https://cdn-icons-png.flaticon.com/512/134/134909.png"><br><br>
                            <% for(let i = 0; i < comment.length; i++){ %>
                                <div class="row recent-comment-box">
                                    <div class="col-xm-11">
                                        <div class="recent-comment-info">
                                            <div class="writer"><a href="/profile/<%=comment[i].user_id %>"><%=comment[i].writer %></a></div>
                                            <div class="date"><%=comment[i].comment_date %></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 recent-comment-detail">
                                        <% if(comment[i].type == "comment") { %>
                                            <a href="/post/<%=comment[i].post_idx %>#comment<%=comment[i].comment_idx %>"><%=comment[i].comment_content %></a>
                                        <% } %>
                                        <% if(comment[i].type == "reply") { %>
                                            <a href="/post/<%=comment[i].post_idx %>#reply<%=comment[i].comment_idx %>"><%=comment[i].comment_content %></a>
                                        <% } %>
                                    </div>
                                </div>
                                <hr>
                            <% } %>
                        </div>

                        <!-- popular project list -->
                        <div class="sidebar-list" style="display: none;">
                            <img class="popular-list-image" src="https://cdn-icons-png.flaticon.com/512/426/426833.png"><br><br>
                            <% for(let i = 0; i < popular.length; i++){ %>
                                <div class="popular-box">
                                    <div class="popular-tag-list">
                                        <a href="#" class="badge badge-pill badge-warning"><%=popular[i].type %></a>
                                        <% for(let j = 0; j < popular[i].tag.split(",").length; j++){ %>
                                            <a href="#" class="badge badge-pill badge-secondary"><%= popular[i].tag.split(",")[j] %></a>
                                        <% } %>
                                    </div>
                                    <div class="popular-title">
                                        <a href="/post/<%=popular[i].post_idx %>"><h5><%=popular[i].title %></h5></a>
                                    </div>
                                    <div class="popular-info">
                                        <span class="writer"><%=popular[i].writer %></span> · 
                                        <span class="date"><%=popular[i].post_date %></span>
                                    </div>
                                </div>
                                <hr>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-6"></div>
                    <div class="col-xl-4 col-lg-4 col-sm-6 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary load-more-btn">Load More Posts &nbsp;&nbsp;<i class="fas fa-arrow-down"></i></button>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6"></div>
                </div>
            </div>
        </div>
        
        <%- include("./fragment/footer.ejs") -%>

        <script src="/js/api/darkmode.js"></script>
        <script src="/js/api/auth.js"></script>
        <script src="/js/api/feed.js"></script>
        <script src="/js/HTML.js"></script>
        <script src="/js/api/index.js"></script>
        <script>
            $(document).on("click", ".recent-comments-btn", () => {
                $($(".sidebar-list")[0]).show();
                $($(".sidebar-list")[1]).hide();
            })

            $(document).on("click", ".popular-projects-btn", () => {
                $($(".sidebar-list")[0]).hide();
                $($(".sidebar-list")[1]).show();
            })
        </script>
    </body>
</html>