<html web-theme="<%=require.web_theme %>">
    <head>
        <title>
            Project Manager
        </title>
        <%- include("./fragment/head.ejs") %>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.10.38/pdf_viewer.min.css" integrity="sha512-3RmdRrL3AYc82NkZyJY3Id9029bY37R6LtgNQkNRdZm+eI0sVjV/J5IF9QsC8VDUheqJ9pxCBQc8ts6wiOXIOg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- pdf -> image 로 변환해 주는 라이브러리 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.10.38/pdf.min.mjs" type="module"></script>

        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/comment.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->

    </head>
    <body>
        <input type="hidden" class="file-name" value="<%= post_attach.path%>">
        <input type="hidden" name="post-idx" value="<%=post_data.post_idx %>">
        <% for(let i=0; i<post_data.contents.length; i++) { %>
            <input type="hidden" class="section-range" value="<%= post_data.contents[i].range_start %>~<%= post_data.contents[i].range_end %>">
        <% } %>

        <%- include("./fragment/header.ejs") %>

        <Br><Br>
        <div id="contents">
            <div class="container contents-box">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="like-unlike">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="like-unlike like-unlike-count">
                            <%=post_data.like_count %>
                        </div>
                        <!-- <div class="like-unlike">
                            <i class="fas fa-chevron-down"></i>
                        </div> -->
                    </div>
                    <div class="col-sm-7">
                        <div class="project-title">
                            <h1><i class="fas fa-ghost"></i> <%=post_data.title %></h1>
                        </div>
                        <div class="project-subtitle">
                            <h4><%=post_data.subtitle %></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <a href="/profile/<%=post_data.user_id %>"><span class="project-writer"><%=post_data.writer %></span></a>
                        <span class="project-date"><%=post_data.project_date %></span>
                        <div class="project-tag">
                            <% for(let j=0; j<post_data.tag.split(',').length; j++) { %>
                                <a href="#" class="badge badge-pill badge-secondary"><%=post_data.tag.split(',')[j] %></a>
                            <% } %>
                        </div>
                        <span class="project-date"><a href="<%= post_attach.path%>" target="_blank">이 프로젝트 다운로드</a></span>
                    </div>
                </div>
                
                <% for (let i=0; i<post_data.contents.length; i++) { %>
                    <div class="row project-content">
                        <div class="col-sm-8">
                            <div class="project-section">
                                <div class="project-section-title">
                                    <h5><i class="fas fa-angle-right"></i> Section <%= i+1 %></h5>
                                </div>
                                <div class="project-section-image">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-section-info" style="white-space: pre-line;">
                                <%= post_data.contents[i].section_content %>
                            </div>
                        </div>
                    </div>
                <% } %>

                <div class="row project-content">
                    <div class="col-sm-12">
                        <div class="project-opinion">
                            <h3><i class="fas fa-comment-dots"></i> my opinion</h3>
                            <span class="project-opinion-contents" style="white-space: pre-line;">
                                <%= post_data.opinion %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row project-content">
                    <div class="col-sm-12 float-right">
                        <% if(user_info.is_post_owner) { %>
                            <a href="/modify/<%=post_data.post_idx %>"><button type="button" class="btn btn-info btn-modify-post">수정</button></a>
                            <button type="button" class="btn btn-danger btn-delete-post">삭제</button>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="container contents-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="comments">
                            <h4><i class="fas fa-comments"></i> Comments (<%=count %>)</h4>
                        </div>
                    </div>
                </div>
                <% for(let i = 0; i<comment_data.length; i++){ %>
                    <div class="row">
                        <div class="col-sm-11">
                            <a id="comment<%=comment_data[i].comment_idx %>">
                                <div class="comment-info">
                                    <span class="comment-writer">
                                        <a href="/profile/<%=comment_data[i].user_id %>"><%=comment_data[i].writer %></a>
                                    </span>
                                    <span class="comment-date">
                                        <%=comment_data[i].comment_date %>
                                    </span>
                                    <div class="comment-content" style="white-space: pre-line;">
                                        <%=comment_data[i].comment_content %>
                                    </div>
                                </div>
                            </a>
                            <% if(require.is_login){ %>
                                <div class="comment-reply">
                                    <input type="hidden" name="comment-idx" value="<%=comment_data[i].comment_idx %>">
                                    <i class="fas fa-reply"></i> 답글 달기
                                </div>
                            <% } %>
                            <% for(let j=0; j<comment_data[i].reply_comment.length; j++){ %>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <a id="reply<%=comment_data[i].reply_comment[j].reply_idx %>">
                                            <div class="comment-info">
                                                <span class="comment-writer">
                                                    <a href="/profile/<%=comment_data[i].reply_comment[j].user_id %>"><%=comment_data[i].reply_comment[j].writer %></a>
                                                </span>
                                                <span class="comment-date">
                                                    <%=comment_data[i].reply_comment[j].reply_date %>
                                                </span>
                                                <div class="comment-content" style="white-space: pre-line;">
                                                    <%=comment_data[i].reply_comment[j].reply_content %>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <% if(require.is_login) { %>
                    <div class="input-comment-box row">
                        <div class="col-sm-10">
                            <textarea class="write-form-textarea input-comment-content" placeholder="댓글을 적어주세요."></textarea>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-success btn-comment">Submit</button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div id="side-post">
            <div class="container">
                <% if(side_posts.previous_post.length != 0){ %>
                    <div class="float-left">
                        <button type="button" class="btn btn-info" onclick="location.href='/post/<%=side_posts.previous_post[0].post_idx %>'">이전 글</button>
                    </div>
                <% } %>
                <% if(side_posts.next_post.length != 0){ %>
                <div class="float-right">
                    <button type="button" class="btn btn-info" onclick="location.href='/post/<%=side_posts.next_post[0].post_idx %>'">다음 글</button>
                </div>
                <% } %>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                This project is <a href="https://github.com/CASPER-REPSAC/project-manager">open source.</a>
            </div>
        </div>
        <script src="/js/api/darkmode.js"></script>
        <script src="/js/modal.js"></script>
        <script src="/js/HTML.js"></script>
        <script src="/js/feature/pdfToImg.js"></script>
        <script src="/js/commentEvent.js"></script>
        <script src="/js/replyEvent.js"></script>
        <script src="/js/api/delete.js"></script>
        <script src="/js/api/like.js"></script>
        <script src="/js/api/auth.js"></script>
        <script>
            $(document).ready(async () => {
                await showPDF($(".file-name").val());
                const focusHash = () => {
                    if(window.location.hash.length != 0){
                        document.getElementById(window.location.hash.replace("#", "")).scrollIntoView();
                    }
                }
                focusHash();
            })
        </script>
    </body>
</html>