<html web-theme="<%=require.web_theme %>">
    <head>
        <title>
            Project Manager
        </title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

        <!-- pdf -> image 로 변환해 주는 라이브러리 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.228/pdf.min.js"></script>

        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/write.css">
        <link rel="stylesheet" href="/css/post.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->

    </head>
    <body>
        <input type="hidden" class="file-name" value="<%= post_attach.path%>">
        <input type="hidden" name="user-image" value="<%= user_info.user_image %>">
        <% for(let i=0; i<post_data.contents.length; i++) { %>
            <input type="hidden" class="section-range" value="<%= post_data.contents[i].range_start %>~<%= post_data.contents[i].range_end %>">
        <% } %>
        <div id="header">
            <div class="container">
                <div class="header-title">
                    <a href="/">Pr<i class="fas fa-ghost"></i>ject Manager</a>
                </div>
                <div class="header-menu float-right">
                    <% if(!require.is_login){ %>
                        <a href="/login"><button type="button" class="btn btn-secondary">Login</button></a>
                    <% } else { %>
                        <a href="/write"><button type="button" class="btn btn-secondary">Write</button></a>
                        <a href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="menu">
            <div class="container">
                <div class="dark-mode float-right">
                    <label class="switch">
                        <input type="checkbox" <%= require.check ? "checked" : "" %>>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <Br><Br>
        <div id="contents">
            <div class="container contents-box">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="project-title">
                            <h1><i class="fas fa-ghost"></i> <%=post_data.title %></h1>
                        </div>
                        <div class="project-subtitle">
                            <h4><%=post_data.subtitle %></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <span class="project-writer"><%=post_data.writer %></span>
                        <span class="project-date"><%=post_data.project_date %></span>
                        <div class="project-tag">
                            <% for(let j=0; j<post_data.tag.split(',').length; j++) { %>
                                <a href="#" class="badge badge-pill badge-secondary"><%=post_data.tag.split(',')[j] %></a>
                            <% } %>
                        </div>
                    </div>
                </div>
                
                <% for (let i=0; i<post_data.contents.length; i++) { %>
                    <div class="row project-content">
                        <div class="col-sm-8">
                            <div class="project-section">
                                <div class="project-section-title">
                                    <h3><i class="fas fa-angle-right"></i> Section <%= i+1 %></h3>
                                </div>
                                <div class="project-section-image">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="project-section-info">
                                <%= post_data.contents[i].section_content %>
                            </div>
                        </div>
                    </div>
                <% } %>

                <div class="row project-content">
                    <div class="col-sm-12">
                        <div class="project-opinion">
                            <h3><i class="fas fa-comment-dots"></i> my opinion</h3>
                            <span class="project-opinion-contents">
                                <%= post_data.opinion %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container contents-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="comments">
                            <h4><i class="fas fa-comments"></i> Comments (0)</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <div class="comment-writer-image">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <div class="comment-info">
                            <span class="comment-writer">
                                김종민
                            </span>
                            <span class="comment-date">
                                2021.02.03
                            </span>
                            <div class="comment-content">
                                aaaaaaaaaa
                            </div>
                        </div>
                        <% if(require.is_login){ %>
                            <div class="comment-reply">
                                <input type="hidden" name="comment-idx" value="1">
                                <i class="fas fa-reply"></i> 답글 달기
                            </div>
                        <% } %>
                    </div>
                </div>
                <% if(require.is_login) { %>
                    <div class="input-comment-box row">
                        <div class="col-sm-1">
                            <div class="comment-writer-image">
                                <img src="<%= user_info.user_image %>">
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <textarea class="write-form-textarea" placeholder="댓글을 적어주세요." name="section_content"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                This project is <a href="https://github.com/CASPER-REPSAC/project-manager">open source.</a>
            </div>
        </div>
        <script src="/js/darkmode.js"></script>
        <script src="/js/modal.js"></script>
        <script src="/js/HTML.js"></script>
        <script src="/js/feature/pdfToImg.js"></script>
        <script src="/js/reply.js"></script>
    </body>
</html>